# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build outputs
dist/
tmp/
out-tsc/
bazel-out/

# Angular
.angular/cache
/web/dist
/web/out-tsc
/web/.angular

# PartyKit
.partykit/

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Misc
.DS_Store
Thumbs.db
*.sublime-workspace
coverage/
.sass-cache/